<!DOCTYPE html>
<html>
  <head>
    <title>UnityCritique</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div id='application'>
      <h1>Unity Critique</h1>
      <p>If you are seeing this page, you need to enable javascript</p>
    </div>
  </body>
</html>
